.heading {
    width: 100%;
    text-align: left;
    }
    .heading h3 {
    display: inline;
    }
    .heading button {
    float: right;
    border: 1px solid white;
    }
    #start, #status_label {
    font-size: 22px;
    }
    #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    line-height: 3;
    text-align: center;
    }
    canvas {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    }